{% extends 'base.html' %}

{% block content %}
<h2>Formulario de registro</h2>

<form method="POST">
  
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" value="{{ nombre or "" }}"><br>
  {% with messages = get_flashed_messages(category_filter=["nombre_error"]) %}
    {% if messages %}
      <span>{{ messages[0] }}</span><br>
    {% endif %}
  {% endwith %}

  <label for="email">Email:</label>
  <input type="email" name="email" value="{{ email or "" }}"><br>
  {% with messages = get_flashed_messages(category_filter=["email_error"]) %}
    {% if messages %}
      <span>{{ messages[0] }}</span><br>
    {% endif %}
  {% endwith %}

  <button type="submit">Enviar</button>

</form>
{% endblock %}
