{% extends 'base.html' %}

{% block content %}
<h2>Formulario de registro</h2>

<form method="POST">
  
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" value="{{ nombre or "" }}"><br>
  {% with messages = get_flashed_messages(category_filter=["nombre_error"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small><br>
    {% endif %}
  {% endwith %}

  <label for="email">Email:</label>
  <input type="email" name="email" value="{{ email or "" }}"><br>
  {% with messages = get_flashed_messages(category_filter=["email_error"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small><br>
    {% endif %}
  {% endwith %}
  {% with messages = get_flashed_messages(category_filter=["email_duplicado"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small><br>
    {% endif %}
  {% endwith %}

  <label for="edad">Edad:</label>
  <input type="number" name="edad" value="{{ edad or "" }}"><br>
  {% with messages = get_flashed_messages(category_filter=["edad_error"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small>
    {% endif %}
  {% endwith %}

  <label for="carrera">Seleccioná una carrera:</label>
  <select name="carrera" id="carrera">
    <option value="" {{ 'selected' if not carrera }}>--Por favor seleccione una opción--</option>
    <option value="analisis" {{ 'selected' if carrera == 'analisis' }}>Análisis de Sistemas</option>
    <option value="desarrollo" {{ 'selected' if carrera == 'desarrollo' }}>Desarrollo de Software</option>
    <option value="datos" {{ 'selected' if carrera == 'datos' }}>Ciencia de Datos</option>
  </select>
  {% with messages = get_flashed_messages(category_filter=["carrera_error"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small>
    {% endif %}
  {% endwith %}
  
<label for="comentarios">Comentarios:</label>
  <textarea id="comentarios" name="comentarios" rows="5" cols="33" maxlenght="500">{{ comentarios or "" }}</textarea>
  <small>Máximo 500 caracteres</small>
  {% with messages = get_flashed_messages(category_filter=["comentarios_error"]) %}
    {% if messages %}
      <small class="error">{{ messages[0] }}</small>
    {% endif %}
  {% endwith %}

  <button type="submit">Enviar</button>

</form>
{% endblock %}
